@import "./variable.scss";


#navBar{
    background-color: #ededed;
}

#navBar.container{
    width: 100%;
}
.navLogo{
    height: 35px;
}



.navCart{
    background-color: $primary;
    display: flex;
    border-radius: 50px;
    // height: 1.5rem;
}

.navText{
    font-size: small;
}